<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
    <!--begin::Header-->
    <div id="kt_header" class="header" data-kt-sticky="true" data-kt-sticky-name="header" data-kt-sticky-offset="{default: '200px', lg: '300px'}">
        <!--begin::Container-->
        <div class="container-fluid d-flex align-items-stretch justify-content-between" id="kt_header_container">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-2 mb-5 mb-lg-0" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
                <!--begin::Heading-->
                <h1 class="text-dark fw-bolder mt-1 mb-1 fs-2">Hệ thống tự động</h1>
                <!--end::Heading-->
                <!--begin::Breadcrumb-->
                <%- include('../partials/breadcrumb.ejs') %> 
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title=-->
            <!--begin::Toolbar wrapper-->
            <div class="d-flex align-items-stretch flex-shrink-0">
                <!--begin:Activities-->
                <%- include('../partials/activity.ejs') %>
                <!--end:Activities-->
                <!--begin::Notifications-->
                <%- include('../partials/notification.ejs') %>
                <!--end::Notifications-->
                <!--begin::User-->
                <%- include('../partials/profile.ejs') %>
                <!--end::User -->
            </div>
            <!--end::Toolbar wrapper-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Header-->
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid fs-6" id="kt_content">
        <!--begin::Container-->
        <div class="container" id="kt_content_container">
            <!--begin::Row-->
            <div class="row g-xl-8">
                <!--begin:::Col-->
                <div class="col-xxl-6">
                    <!--begin::Row-->
                    <div class="row g-xl-8">
                        <!--begin:::Col-->
                        <div class="col">
                            <!--begin::Table Widget 1-->
                            <div class="card card-xxl-stretch mb-5 mb-xl-3">
                                <!--begin::Header-->
                                <div class="card-header border-0 pt-5 pb-3">
                                    <!--begin::Card title-->
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label fw-boldest text-gray-800 fs-2">Deadline nhập điểm</span>
                                        <span class="text-gray-400 fw-bold mt-2 fs-6">Deadline: 28 hàng tháng</span>
                                    </h3>
                                    <!--end::Card title-->
                                    <!--begin::Card toolbar-->
                                    <div class="card-toolbar">
                                        <div class="my-1">
                                            <!--begin::Select-->
                                            <input type="text" class="text-center form-control form-control-solid fw-bolder w-125px" placeholder="28"/>
                                            <!--end::Select-->
                                        </div>
                                    </div>
                                    <!--end::Card toolbar-->
                                </div>
                                <!--end::Header-->
                                <!--begin::Body-->
                                <div class="card-body py-0" style="margin-bottom: 10px;">
                                    <!--begin::Actions-->
                                    <div class="text-center">                    
                                        <button type="submit" id="kt_modal_new_target_submit" class="btn btn-primary">
                                            <span class="indicator-label">Lưu</span>
                                            <span class="indicator-progress">Đang xử lý...
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                        </button>
                                    </div>
                                    <!--end::Actions-->
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Table Widget 1-->
                        </div>
                        <!--end:::Col-->
                    </div>
                    <!--end::Row-->
                    <!--begin::Row-->
                    <div class="row g-xl-8">
                        <!--begin:::Col-->
                        <div class="col">
                            <!--begin::Table Widget 1-->
                            <div class="card card-xxl-stretch mb-5 mb-xl-3">
                                <!--begin::Header-->
                                <div class="card-header border-0 pt-5 pb-3">
                                    <!--begin::Card title-->
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label fw-boldest text-gray-800 fs-2">QR Sự kiện</span>
                                    </h3>
                                    <!--end::Card title-->
                                    <!--begin::Card toolbar-->
                                    <div class="card-toolbar">
                                        <div class="my-1">
                                            <!--begin::Select-->
                                            <select class="form-select form-select-sm form-select-solid fw-bolder w-125px" data-control="select2" data-placeholder="All Users" data-hide-search="true">
                                                <option value="jan">Tháng 1</option>
                                                <option value="feb">Tháng 2</option>
                                                <option value="mar">Tháng 3</option>
                                                <option value="apr">Tháng 4</option>
                                                <option value="may">Tháng 5</option>
                                                <option value="jun">Tháng 6</option>
                                                <option value="jul" selected>Tháng 7</option>
                                                <option value="aug">Tháng 8</option>
                                                <option value="sep">Tháng 9</option>
                                                <option value="oct">Tháng 10</option>
                                                <option value="nov">Tháng 11</option>
                                                <option value="dev">Tháng 12</option>
                                            </select>
                                            <!--end::Select-->
                                        </div>
                                    </div>
                                    <!--end::Card toolbar-->
                                </div>
                                <!--end::Header-->
                                <!--begin::Body-->
                                <div class="card-body py-0">
                                    <!--begin::Table-->
                                    <div class="table-responsive">
                                        <table class="table align-middle table-row-bordered table-row-dashed gy-5" id="kt_table_widget_1">
                                            <!--begin::Table body-->
                                            <tbody>
                                                <!--begin::Table row-->
                                                <tr class="text-start text-gray-400 fw-boldest fs-7 text-uppercase">
                                                    <th class="min-w-200px px-0">Sự kiện</th>
                                                    <th class="text-center pe-2 min-w-70px">Action</th>
                                                </tr>
                                                <!--end::Table row-->
                                                <!--begin::Table row-->
                                                <tr>
                                                    <!--begin::Clubs-->
                                                    <td class="p-0">
                                                        <div class="d-flex align-items-center">
                                                            <!--begin::Logo-->
                                                            <div class="symbol symbol-50px symbol-circle me-5">
                                                                <img alt="Logo" src="../assets/media/avatars/hellogit.png" />
                                                            </div>
                                                            <!--end::Logo-->
                                                            <div class="ps-3">
                                                                <a href="event/learning_blockchain_intellectual_property_on_the_blockchain.html" class="text-gray-800 fw-boldest fs-5 text-hover-primary mb-1">LEARNING BLOCKCHAIN: INTELLECTUAL PROPERTY ON THE BLOCKCHAIN	</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!--end::Clubs-->
                                                    <!--begin::Action=-->
                                                    <td class="pe-0 text-end">
                                                        <div class="form-check form-switch form-check-custom form-check-solid">
                                                            <input class="form-check-input" type="checkbox" value="" id="flexSwitchDefault"/>
                                                            <label class="form-check-label" for="flexSwitchDefault">
                                                                Mở khoá
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <!--end::Action=-->
                                                </tr>
                                            </tbody>
                                            <!--end::Table body-->
                                        </table>
                                    </div>
                                    <!--end::Table-->
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Table Widget 1-->
                        </div>
                        <!--end:::Col-->
                    </div>
                    <!--end::Row-->
                </div>
                <!--end:::Col-->
                <!--begin:::Col-->
                <div class="col-xxl-6">
                    <!--begin::Row-->
                    <div class="row g-xl-8">
                        <!--begin:::Col-->
                        <div class="col">
                            <!--begin::Table Widget 1-->
                            <div class="card card-xxl-stretch mb-5 mb-xl-3">
                                <!--begin::Header-->
                                <div class="card-header border-0 pt-5 pb-3">
                                    <!--begin::Card title-->
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label fw-boldest text-gray-800 fs-2">Câu lạc bộ chưa nhập điểm</span>
                                        <span class="text-gray-400 fw-bold mt-2 fs-6">Deadline: 28 hàng tháng</span>
                                    </h3>
                                    <!--end::Card title-->
                                    <!--begin::Card toolbar-->
                                    <div class="card-toolbar">
                                        <div class="my-1">
                                            <!--begin::Select-->
                                            <select class="form-select form-select-sm form-select-solid fw-bolder w-125px" data-control="select2" data-placeholder="All Users" data-hide-search="true">
                                                <option value="jan">Tháng 1</option>
                                                <option value="feb">Tháng 2</option>
                                                <option value="mar">Tháng 3</option>
                                                <option value="apr">Tháng 4</option>
                                                <option value="may">Tháng 5</option>
                                                <option value="jun">Tháng 6</option>
                                                <option value="jul" selected>Tháng 7</option>
                                                <option value="aug">Tháng 8</option>
                                                <option value="sep">Tháng 9</option>
                                                <option value="oct">Tháng 10</option>
                                                <option value="nov">Tháng 11</option>
                                                <option value="dev">Tháng 12</option>
                                            </select>
                                            <!--end::Select-->
                                        </div>
                                    </div>
                                    <!--end::Card toolbar-->
                                </div>
                                <!--end::Header-->
                                <!--begin::Body-->
                                <div class="card-body py-0">
                                    <!--begin::Table-->
                                    <div class="table-responsive">
                                        <table class="table align-middle table-row-bordered table-row-dashed gy-5" id="kt_table_widget_1">
                                            <!--begin::Table body-->
                                            <tbody>
                                                <!--begin::Table row-->
                                                <tr class="text-start text-gray-400 fw-boldest fs-7 text-uppercase">
                                                    <th class="min-w-200px px-0">Câu lạc bộ</th>
                                                    <th class="text-center pe-2 min-w-70px">Action</th>
                                                </tr>
                                                <!--end::Table row-->
                                                <!--begin::Table row-->
                                                <tr>
                                                    <!--begin::Clubs-->
                                                    <td class="p-0">
                                                        <div class="d-flex align-items-center">
                                                            <!--begin::Logo-->
                                                            <div class="symbol symbol-50px symbol-circle me-5">
                                                                <img alt="Logo" src="../assets/media/avatars/hellogit.png" />
                                                            </div>
                                                            <!--end::Logo-->
                                                            <div class="ps-3">
                                                                <a href="admin/club/HelloGIT.html" class="text-gray-800 fw-boldest fs-5 text-hover-primary mb-1">HELLOGIT_UoG Information Technology Club</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!--end::Clubs-->
                                                    <!--begin::Action=-->
                                                    <td class="pe-0 text-end">
                                                        <div class="form-check form-switch form-check-custom form-check-solid">
                                                            <input class="form-check-input" type="checkbox" value="" id="flexSwitchDefault"/>
                                                            <label class="form-check-label" for="flexSwitchDefault">
                                                                Mở khoá
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <!--end::Action=-->
                                                </tr>
                                                <tr>
                                                    <!--begin::Clubs-->
                                                    <td class="p-0">
                                                        <div class="d-flex align-items-center">
                                                            <!--begin::Logo-->
                                                            <div class="symbol symbol-50px symbol-circle me-5">
                                                                <img alt="Logo" src="../assets/media/avatars/hellogit.png" />
                                                            </div>
                                                            <!--end::Logo-->
                                                            <div class="ps-3">
                                                                <a href="admin/club/HelloGIT.html" class="text-gray-800 fw-boldest fs-5 text-hover-primary mb-1">HELLOGIT_UoG Information Technology Club</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!--end::Clubs-->
                                                    <!--begin::Action=-->
                                                    <td class="pe-0 text-end">
                                                        <div class="form-check form-switch form-check-custom form-check-solid">
                                                            <input class="form-check-input" type="checkbox" value="" id="flexSwitchDefault" checked="checked"/>
                                                            <label class="form-check-label" for="flexSwitchDefault">
                                                                Mở khoá
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <!--end::Action=-->
                                                </tr>
                                            </tbody>
                                            <!--end::Table body-->
                                        </table>
                                    </div>
                                    <!--end::Table-->
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Table Widget 1-->
                        </div>
                        <!--end:::Col-->
                    </div>
                    <!--end::Row-->
                </div>
                <!--end:::Col-->			
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Content-->
    <!--begin::Footer-->
    <%- include('../partials/footer.ejs') %>
    <!--end::Footer-->
</div>