<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
    <!--begin::Header-->
    <div id="kt_header" class="header" data-kt-sticky="true" data-kt-sticky-name="header" data-kt-sticky-offset="{default: '200px', lg: '300px'}">
        <!--begin::Container-->
        <div class="container-fluid d-flex align-items-stretch justify-content-between" id="kt_header_container">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-2 mb-5 mb-lg-0" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
                <!--begin::Heading-->
                <h1 class="text-dark fw-bolder mt-1 mb-1 fs-2">Quản lý câu lạc bộ</h1>
                <!--end::Heading-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb fw-bold fs-base mb-1">
                    <li class="breadcrumb-item text-muted">
                        <a href="index.html" class="text-muted text-hover-primary">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item text-muted">Quản lý câu lạc bộ</li>
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title=-->
            <!--begin::Logo bar-->
            <div class="d-flex d-lg-none align-items-center flex-grow-1">
                <!--begin::Aside Toggle-->
                <div class="btn btn-icon btn-circle btn-active-light-primary ms-n2 me-1" id="kt_aside_toggle">
                    <!--begin::Svg Icon | path: icons/duotone/Text/Menu.svg-->
                    <span class="svg-icon svg-icon-2x">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <rect fill="#000000" x="4" y="5" width="16" height="3" rx="1.5" />
                                <path d="M5.5,15 L18.5,15 C19.3284271,15 20,15.6715729 20,16.5 C20,17.3284271 19.3284271,18 18.5,18 L5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 Z M5.5,10 L18.5,10 C19.3284271,10 20,10.6715729 20,11.5 C20,12.3284271 19.3284271,13 18.5,13 L5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 Z" fill="#000000" opacity="0.3" />
                            </g>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Aside Toggle-->
                <!--begin::Logo-->
                <a href="index.html" class="d-lg-none">
                    <img alt="Logo" src="../assets/media/logos/logo-compact.png" width="100%" class="max-h-40px" />
                </a>
                <!--end::Logo-->
            </div>
            <!--end::Logo bar-->
            <!--begin::Toolbar wrapper-->
            <div class="d-flex align-items-stretch flex-shrink-0">
                <!--begin::Add-->
                <div class="d-flex align-items-center ms-1 ms-lg-3">
                    <!--begin::drawer toggle-->
                    <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px"  data-bs-toggle="modal" data-bs-target="#pdp_new_student_club">
                        <!--begin::Svg Icon | path: icons/duotone/Design/Substract.svg-->
                        <span class="svg-icon svg-icon-1">
                            <img src="assets/media/svg/files/add.svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"></img>
                        </span>
                        <!--end::Svg Icon-->
                    </div>
                    <!--end::drawer toggle-->
                </div>
                <!--end:Add-->
                <!--begin:Activities-->
                <%- include('../../partials/activity.ejs') %>
                <!--end:Activities-->
                <!--begin::Notifications-->
                <%- include('../../partials/notification.ejs') %>
                <!--end::Notifications-->
                <!--begin::User-->
                <%- include('../../partials/profile.ejs') %>
                <!--end::User -->
            </div>
            <!--end::Toolbar wrapper-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Header-->
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid fs-6" id="kt_content">				
        <!--begin::Score--> 
        <div class="e-panel card" style="margin-left:10px; margin-right: 10px;" >
            <div class="card-body" style="font-size:15px;">
                <div class="e-table">
                    <div class="table-responsive table-lg mt-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:100px;">ID</th>
                                    <th style="width:300px;">Họ và tên</th>
                                    <th style="width:300px;">Email</th>
                                    <th style="width:200px;">Chức vụ</th>
                                    <th style="width:200px;" class="text-center">Được thêm bởi</th>
                                    <th style="width:200px;" class="text-center">Xoá</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-nowrap align-middle">GCS190159</td>
                                    <td class="text-nowrap align-middle">Trần Vĩnh Tiến</td>
                                    <td class="text-nowrap align-middle">tientvgcs190159@fpt.edu.vn</td>
                                    <td class="text-nowrap align-middle">Chủ nhiệm</td>
                                    <td class="text-center align-middle"><a href="#">HelloGIT</a>
                                    <td class="text-center align-middle">
                                        <div class="btn-group align-top">
                                            <button class="btn btn-secondary badge" type="button" data-bs-toggle="modal" data-bs-target="#pdp_edit_student_club">Sửa</button>
                                            <button class="btn btn-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </td>
                                </tr>  
                                <tr>
                                    <td class="text-nowrap align-middle">GCS190159</td>
                                    <td class="text-nowrap align-middle">Trần Vĩnh Tiến</td>
                                    <td class="text-nowrap align-middle">tientvgcs190159@fpt.edu.vn</td>
                                    <td class="text-nowrap align-middle">Phó chủ nhiệm</td>
                                    <td class="text-center align-middle"><a href="PDP/overview.html">Minh Toàn</a>
                                    <td class="text-center align-middle">
                                        <div class="btn-group align-top">
                                            <button class="btn btn-secondary badge" type="button" data-bs-toggle="modal" data-bs-target="#pdp_edit_student_club">Sửa</button>
                                            <button class="btn btn-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </td>
                                </tr>  
                                <tr>
                                    <td class="text-nowrap align-middle">GCS190159</td>
                                    <td class="text-nowrap align-middle">Trần Vĩnh Tiến</td>
                                    <td class="text-nowrap align-middle">tientvgcs190159@fpt.edu.vn</td>
                                    <td class="text-nowrap align-middle">Thành viên</td>
                                    <td class="text-center align-middle"><a href="PDP/overview.html">Khánh Toàn</a>
                                    <td class="text-center align-middle">
                                        <div class="btn-group align-top">
                                            <button class="btn btn-secondary badge" type="button" data-bs-toggle="modal" data-bs-target="#pdp_edit_student_club">Sửa</button>
                                            <button class="btn btn-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </td>
                                </tr>  
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
        <!--end::Score-->
    </div>
    <!--end::Content-->
    <!--begin::Show result-->
    <%- include('../../partials/pagination.ejs') %>
    <!--end::Show result-->
    <!--begin::Footer-->
    <%- include('../../partials/footer.ejs') %>
    <!--end::Footer-->
</div>