<link rel="stylesheet" href="/css/admin/navigation.css">

<p>
    <a href="/" class="text-decoration-none hover reset-color">Tài khoản</a>
    <span>></span>
</p>

<div class="row g-5">
    <div class="col-md-12 col-lg-12">
        <div class="row g-2">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <button type="button" class="w-100 btn btn-success" style="font-weight: 700;" data-bs-toggle="modal" data-bs-target="#mentorAccountModal">
                    Tạo tài khoản Mentor
                </button>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <button type="button" class="w-100 btn btn-warning" style="font-weight: 700;" data-bs-toggle="modal" data-bs-target="#leaderAccountModal">
                    Tạo tài khoản Leader
                </button>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <form action="/login">
                    <button class="w-100 btn btn-primary" style="font-weight: 700;" type="submit">
                        <i class="fa-solid fa-circle-arrow-down"></i>
                        Xuất file excel
                    </button>
                </form>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12" style="margin-top: 15px;">
        <form action="">
            <div class="row g-2">
                <div class="input-group col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <span class="input-group-text" id="basic-addon1">Loại</span>
                    <select class="form-select" aria-label="Default select example" style="border-bottom-right-radius: 0.35rem; border-top-right-radius: 0.35rem;">
                      <option selected>Chọn loại tài khoản</option>
                      <option>Mentor</option>
                      <option>Leader</option>
                    </select>
                    <div class="invalid-feedback d-block">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 input-group">
                    <span class="input-group-text" id="basic-addon1" style="width: 55.7px; height: 38px;">Từ</span>
                    <input type="date" class="form-control" id="fromDate" placeholder="Date" value="">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 input-group">
                    <span class="input-group-text" id="basic-addon1" style="width: 55.7px; height: 38px;">Đến</span>
                    <input type="date" class="form-control" id="toDate" placeholder="Date" value="">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8 col-xl-3 input-group">
                    <input type="text" class="form-control" id="searchName" placeholder="Search for name..." value="">
                    <button type="submit" class="btn btn-secondary" style="border-bottom-right-radius: 0.35rem; border-top-right-radius: 0.35rem;"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <div class="invalid-feedback d-block"></div>
                </div>
                <div class="col-sm-4 col-lg-4"></div>
            </div>
        </form>
    </div>
</div>


<div class="table-responsive table-hover" style="margin-top: 70px; max-height: 450px;">
    <table class="table">
        <thead style="background-color: #4598FF; color: white; position: sticky; top: 0;">
            <tr>
                <th>Stt</th>
                <th style="min-width: 180px;" class="text-center">Tên tài khoản</th>
                <th style="min-width: 250px;" class="text-center">Họ tên</th>
                <th style="min-width: 300px;" class="text-center">Email</th>
                <th style="min-width: 150px;" class="text-center">Mã sinh viên</th>
                <th style="min-width: 170px;" class="text-center">Chức vụ CLB</th>
                <th style="min-width: 270px;" class="text-center">Câu lạc bộ</th>
                <th style="min-width: 140px;" class="text-center">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th>1</th>
            <td class="text-center">thinhle1703</td>
            <td class="text-center">Lê Trường Thịnh</td>
            <td class="text-center">letruongthinh1703@gmail.com</td>
            <td class="text-center">GCS190714</td>
            <td class="text-center">Chủ nhiệm</td>
            <td class="text-center">HelloGIT</td>
            <td class="text-center">
                <i class="fa-solid fa-pen-to-square" style="margin-right: 15px; color:#f6c23e"></i>
                <i class="fa-solid fa-trash" style="color: rgb(190, 50, 50);"></i>
            </td>
            </tr>

            <tr>
                <th>1</th>
                <td class="text-center">thinhlefsdfsdfsdfdddddddddddddddddddds1703</td>
                <td class="text-center">Lê Trường Tfddfdfsdddddddddddddddsfsdfshịnh</td>
                <td class="text-center">letruongthinhfdsfdsfdsfdsfdsfdsfffffffffffffffffffffff170fsdfdsfdsf3@gmail.com</td>
                <td class="text-center">GCS1907fdsfdsfdsfdsfdsf14</td>
                <td class="text-center">Chủ nhifsdfdsffsdfdsfdsfdsfsdfdsdsfdsfdsfdsfdsfdsfdsfsdfệm</td>
                <td class="text-center">HelloGIdfsdfdsfdsfdsfsdddddddddddddddddfsdfsdfT</td>
                <td class="text-center">
                    <i class="fa-solid fa-pen-to-square" style="margin-right: 15px; color:#f6c23e"></i>
                    <i class="fa-solid fa-trash" style="color: rgb(190, 50, 50);"></i>
                </td>
            </tr>
            <tr>
                <th>1</th>
                <td class="text-center">thinhlefsdfsdfsdfdddddddddddddddddddds1703</td>
                <td class="text-center">Lê Trường Tfddfdfsdddddddddddddddsfsdfshịnh</td>
                <td class="text-center">letruongthinhfdsfdsfdsfdsfdsfdsfffffffffffffffffffffff170fsdfdsfdsf3@gmail.com</td>
                <td class="text-center">GCS1907fdsfdsfdsfdsfdsf14</td>
                <td class="text-center">Chủ nhifsdfdsffsdfdsfdsfdsfsdfdsdsfdsfdsfdsfdsfdsfdsfsdfệm</td>
                <td class="text-center">HelloGIdfsdfdsfdsfdsfsdddddddddddddddddfsdfsdfT</td>
                <td class="text-center">
                    <i class="fa-solid fa-pen-to-square" style="margin-right: 15px; color:#f6c23e"></i>
                    <i class="fa-solid fa-trash" style="color: rgb(190, 50, 50);"></i>
                </td>
            </tr>
            <tr>
                <th>1</th>
                <td class="text-center">thinhlefsdfsdfsdfdddddddddddddddddddds1703</td>
                <td class="text-center">Lê Trường Tfddfdfsdddddddddddddddsfsdfshịnh</td>
                <td class="text-center">letruongthinhfdsfdsfdsfdsfdsfdsfffffffffffffffffffffff170fsdfdsfdsf3@gmail.com</td>
                <td class="text-center">GCS1907fdsfdsfdsfdsfdsf14</td>
                <td class="text-center">Chủ nhifsdfdsffsdfdsfdsfdsfsdfdsdsfdsfdsfdsfdsfdsfdsfsdfệm</td>
                <td class="text-center">HelloGIdfsdfdsfdsfdsfsdddddddddddddddddfsdfsdfT</td>
                <td class="text-center">
                    <i class="fa-solid fa-pen-to-square" style="margin-right: 15px; color:#f6c23e"></i>
                    <i class="fa-solid fa-trash" style="color: rgb(190, 50, 50);"></i>
                </td>
            </tr>
            <tr>
                <th>1</th>
                <td class="text-center">thinhlefsdfsdfsdfdddddddddddddddddddds1703</td>
                <td class="text-center">Lê Trường Tfddfdfsdddddddddddddddsfsdfshịnh</td>
                <td class="text-center">letruongthinhfdsfdsfdsfdsfdsfdsfffffffffffffffffffffff170fsdfdsfdsf3@gmail.com</td>
                <td class="text-center">GCS1907fdsfdsfdsfdsfdsf14</td>
                <td class="text-center">Chủ nhifsdfdsffsdfdsfdsfdsfsdfdsdsfdsfdsfdsfdsfdsfdsfsdfệm</td>
                <td class="text-center">HelloGIdfsdfdsfdsfdsfsdddddddddddddddddfsdfsdfT</td>
                <td class="text-center">
                    <i class="fa-solid fa-pen-to-square" style="margin-right: 15px; color:#f6c23e"></i>
                    <i class="fa-solid fa-trash" style="color: rgb(190, 50, 50);"></i>
                </td>
            </tr>
            <tr>
                <th>1</th>
                <td class="text-center">thinhlefsdfsdfsdfdddddddddddddddddddds1703</td>
                <td class="text-center">Lê Trường Tfddfdfsdddddddddddddddsfsdfshịnh</td>
                <td class="text-center">letruongthinhfdsfdsfdsfdsfdsfdsfffffffffffffffffffffff170fsdfdsfdsf3@gmail.com</td>
                <td class="text-center">GCS1907fdsfdsfdsfdsfdsf14</td>
                <td class="text-center">Chủ nhifsdfdsffsdfdsfdsfdsfsdfdsdsfdsfdsfdsfdsfdsfdsfsdfệm</td>
                <td class="text-center">HelloGIdfsdfdsfdsfdsfsdddddddddddddddddfsdfsdfT</td>
                <td class="text-center">
                    <i class="fa-solid fa-pen-to-square" style="margin-right: 15px; color:#f6c23e"></i>
                    <i class="fa-solid fa-trash" style="color: rgb(190, 50, 50);"></i>
                </td>
            </tr>
            <tr>
                <th>1</th>
                <td class="text-center">thinhlefsdfsdfsdfdddddddddddddddddddds1703</td>
                <td class="text-center">Lê Trường Tfddfdfsdddddddddddddddsfsdfshịnh</td>
                <td class="text-center">letruongthinhfdsfdsfdsfdsfdsfdsfffffffffffffffffffffff170fsdfdsfdsf3@gmail.com</td>
                <td class="text-center">GCS1907fdsfdsfdsfdsfdsf14</td>
                <td class="text-center">Chủ nhifsdfdsffsdfdsfdsfdsfsdfdsdsfdsfdsfdsfdsfdsfdsfsdfệm</td>
                <td class="text-center">HelloGIdfsdfdsfdsfdsfsdddddddddddddddddfsdfsdfT</td>
                <td class="text-center">
                    <i class="fa-solid fa-pen-to-square" style="margin-right: 15px; color:#f6c23e"></i>
                    <i class="fa-solid fa-trash" style="color: rgb(190, 50, 50);"></i>
                </td>
            </tr>
            <tr>
                <th>1</th>
                <td class="text-center">thinhlefsdfsdfsdfdddddddddddddddddddds1703</td>
                <td class="text-center">Lê Trường Tfddfdfsdddddddddddddddsfsdfshịnh</td>
                <td class="text-center">letruongthinhfdsfdsfdsfdsfdsfdsfffffffffffffffffffffff170fsdfdsfdsf3@gmail.com</td>
                <td class="text-center">GCS1907fdsfdsfdsfdsfdsf14</td>
                <td class="text-center">Chủ nhifsdfdsffsdfdsfdsfdsfsdfdsdsfdsfdsfdsfdsfdsfdsfsdfệm</td>
                <td class="text-center">HelloGIdfsdfdsfdsfdsfsdddddddddddddddddfsdfsdfT</td>
                <td class="text-center">
                    <i class="fa-solid fa-pen-to-square" style="margin-right: 15px; color:#f6c23e"></i>
                    <i class="fa-solid fa-trash" style="color: rgb(190, 50, 50);"></i>
                </td>
            </tr>
            <tr>
                <th>1</th>
                <td class="text-center">thinhlefsdfsdfsdfdddddddddddddddddddds1703</td>
                <td class="text-center">Lê Trường Tfddfdfsdddddddddddddddsfsdfshịnh</td>
                <td class="text-center">letruongthinhfdsfdsfdsfdsfdsfdsfffffffffffffffffffffff170fsdfdsfdsf3@gmail.com</td>
                <td class="text-center">GCS1907fdsfdsfdsfdsfdsf14</td>
                <td class="text-center">Chủ nhifsdfdsffsdfdsfdsfdsfsdfdsdsfdsfdsfdsfdsfdsfdsfsdfệm</td>
                <td class="text-center">HelloGIdfsdfdsfdsfdsfsdddddddddddddddddfsdfsdfT</td>
                <td class="text-center">
                    <i class="fa-solid fa-pen-to-square" style="margin-right: 15px; color:#f6c23e"></i>
                    <i class="fa-solid fa-trash" style="color: rgb(190, 50, 50);"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row" style="margin-top: 20px;">
    <span>Hiển thị <b>5</b> trong <b>25</b> kết quả</span>
    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>



<!-- Mentor Modal -->
<div class="modal fade" id="mentorAccountModal" tabindex="-1" aria-labelledby="newAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #1cc88a">
          <h5 class="modal-title" id="exampleModalLabel" style="color: white; font-weight: 700;">Tạo tài khoản Mentor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="padding: 2rem">
            <form class="user" id="create-account-mentor-form">
                <div class="mb-3">
                    <label for="inputUsernameMentor" class="form-label">Tên tài khoản <span style="color: rgb(223, 17, 17);">*</span></label>
                    <input type="text" class="form-control" id="inputUsernameMentor" name="username">
                    <div class="invalid-feedback d-block">
                        <label id="inputUsernameMentor-error" class="error" for="inputUsernameMentor"></label>
                        <% if(typeof(errors) !== 'undefined') { %><%= errors.username %> <% } %>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputPasswordMentor" class="form-label">Mật khẩu <span style="color: rgb(223, 17, 17);">*</span></label>
                    <input type="password" class="form-control" id="inputPasswordMentor" name="password">
                    <div class="invalid-feedback d-block">
                        <label id="inputPasswordMentor-error" class="error" for="inputPasswordMentor"></label>
                        <% if(typeof(errors) !== 'undefined') { %><%= errors.password %><% } %>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputcPasswordMentor" class="form-label">Xác nhận mật khẩu <span style="color: rgb(223, 17, 17);">*</span></label>
                    <input type="password" class="form-control" id="inputcPasswordMentor" name="cPassword">
                    <div class="invalid-feedback d-block">
                        <label id="inputcPasswordMentor-error" class="error" for="inputcPasswordMentor"></label>
                        <% if(typeof(errors) !== 'undefined') { %><%= errors.cPassword %><% } %>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputEmailMentor" class="form-label">Email liên hệ của Mentor <span style="color: rgb(223, 17, 17);">*</span></label>
                    <input type="text" class="form-control" id="inputEmailMentor" name="email">
                    <div class="invalid-feedback d-block">
                        <label id="inputEmailMentor-error" class="error" for="inputEmailMentor"></label>
                        <% if(typeof(errors) !== 'undefined') { %><%= errors.email %><% } %>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputCampusMentor" class="form-label">Cơ sở  <span style="color: rgb(223, 17, 17);">*</span></label>
                    <select id="inputCampusMentor" class="form-select" name="campus">
                        <option value="" selected disabled>Chọn cơ sở đang làm việc</option>
                        <% if(typeof(campus) !== 'undefined') { %> 
                            <option value="<%= campus._id %>"><%= campus.name %></option>
                        <% } %> 
                    </select>
                    <div class="invalid-feedback d-block">
                        <label id="inputCampusMentor-error" class="error" for="inputCampusMentor"></label>
                        <% if(typeof(errors) !== 'undefined') { %><%= errors.campus %> <% } %>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="btn-create-account-mentor" form="create-account-mentor-form">Submit</button>
        </div>
      </div>
    </div>
</div>

<!-- Leader Modal -->
  <div class="modal fade" id="leaderAccountModal" tabindex="-1" aria-labelledby="newAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #f6c23e;">
          <h5 class="modal-title" id="exampleModalLabel" style="color: white; font-weight: 700;">Tạo tài khoản Leader</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="padding: 2rem">
            <form class="user" id="create-account-leader-form">
                <div class="mb-3">
                    <label for="inputUsernameLeader" class="form-label">Tên tài khoản <span style="color: rgb(223, 17, 17);">*</span></label>
                    <input type="text" class="form-control" id="inputUsernameLeader" name="username">
                    <div class="invalid-feedback d-block">
                        <label id="inputUsernameLeader-error" class="error" for="inputUsernameLeader"></label>
                        <% if(typeof(errors) !== 'undefined') { %><%= errors.username %> <% } %>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputPasswordLeader" class="form-label">Mật khẩu <span style="color: rgb(223, 17, 17);">*</span></label>
                    <input type="password" class="form-control" id="inputPasswordLeader" name="password">
                    <div class="invalid-feedback d-block">
                        <label id="inputPasswordLeader-error" class="error" for="inputPasswordLeader"></label>
                        <% if(typeof(errors) !== 'undefined') { %><%= errors.password %><% } %>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputcPasswordLeader" class="form-label">Xác nhận mật khẩu <span style="color: rgb(223, 17, 17);">*</span></label>
                    <input type="password" class="form-control" id="inputcPasswordLeader" name="cPassword">
                    <div class="invalid-feedback d-block">
                        <label id="inputcPasswordLeader-error" class="error" for="inputcPasswordLeader"></label>
                        <% if(typeof(errors) !== 'undefined') { %><%= errors.cPassword %><% } %>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputEmailLeader" class="form-label">Email liên hệ của CLB <span style="color: rgb(223, 17, 17);">*</span></label>
                    <input type="text" class="form-control" id="inputEmailLeader" name="email">
                    <div class="invalid-feedback d-block">
                        <label id="inputEmailLeader-error" class="error" for="inputEmailLeader"></label>
                        <% if(typeof(errors) !== 'undefined') { %><%= errors.email %><% } %>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputCampusLeader" class="form-label">Cơ sở  <span style="color: rgb(223, 17, 17);">*</span></label>
                    <select id="inputCampusLeader" class="form-select" name="campus">
                        <option value="" selected disabled>Chọn cơ sở đang học</option>
                        <% if(typeof(campus) !== 'undefined') { %> 
                            <option value="<%= campus._id %>"><%= campus.name %></option>
                        <% } %> 
                    </select>
                    <div class="invalid-feedback d-block">
                        <label id="inputCampusLeader-error" class="error" for="inputCampusLeader"></label>
                        <% if(typeof(errors) !== 'undefined') { %><%= errors.campus %> <% } %>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputClub" class="form-label">Câu Lạc Bộ <span style="color: rgb(223, 17, 17);">*</span></label>
                    <select id="inputClub" class="form-select" name="club">
                        <option value="" selected disabled>Chọn câu lạc bộ</option>
                        <% if(typeof(clubs) !== 'undefined') { %><% } %>  
                    </select>
                    <div class="invalid-feedback d-block">
                        <label id="inputClub-error" class="error" for="inputClub"></label>
                        <% if(typeof(errors) !== 'undefined') { %><%= errors.club %> <% } %>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="btn-create-account-leader" form="create-account-leader-form">Submit</button>
        </div>
      </div>
    </div>
  </div>

<style>
    table td {
        word-break: break-all;
    }
</style>
<script defer src="/js/account/validate.js"></script>
<script src=""></script>